<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
        .test:hover {
            background-color: rgb(238, 238, 238);
        }

        .add-user-btn {
            background-color: #EF6627;
            /* border: none; */
        }

        .active::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: black;
            bottom: -7px;
        }

        .actions {
            color: #151414;
        }
        .sidebar {
            transition: transform 0.3s ease;
        }
        @media (max-width: 767.98px) {
        .sidebar {
            position: fixed;
            top: 56px; /* height of navbar */
            left: 0;
            width: 200px;
            height: 100vh;
            background-color: #000;
            color: white;
            z-index: 1050;
            transform: translateX(-100%);
        }

        .sidebar.show {
            transform: translateX(0);
        }
        }
    </style>
</head>

<body>

    <!-- <% var sample = 11111; %> -->

    <nav class="navbar bg-black">
        <div class="container">
            <a class="navbar-brand text-light" href="#">
                <i class="bi bi-box me-2"></i> ShopEase
            </a>
            <button class="navbar-toggler d-md-none border-0" type="button" id="menuToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/admin/logout" class="btn btn-outline-light d-md-block d-none">logout</a>
        </div>
    </nav>


    <div class="d-flex gap-5 m-5">
        <div class=" d-inline-block border border-secondary rounded text-secondary sidebar align-self-start py-3">
            
            <%- include("../partials/admin/sidebarLinks.ejs") %>

        </div>
        <div class="card flex-fill position-relative">
            <div class="card-header">
                <h1 class="text-center">User Management</h1>

                <div class="container">
                    <div class="row justify-content-between my-5">

                    <div class="col-3 d-flex justify-content-around border-bottom border-3 align-self-start pb-1 user-status">
                        <h1 class="fs-6 m-0 align-self-start position-relative flex-fill text-center status active">All
                        </h1>
                        <h1 class="fs-6 m-0 align-self-start position-relative flex-fill text-center status">Blocked
                        </h1>
                        <h1 class="fs-6 m-0 align-self-start position-relative flex-fill text-center status">Active</h1>
                    </div>

                    <form action="/admin/searchUser" class="col-4 align-self-start d-flex gap-2" method="post">
                        <input class="form-control me-2 " name="username" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <div class="col-2 d-flex justify-content-end  align-self-start">
                        <a role="button" href="/admin/addUser"
                            class="add-user-btn text-light border-0 rounded px-4 py-1 text-decoration-none">New User</a>
                    </div>

                </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="">

                    <% if (users) { %>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th> Username </th>
                                    <th> Email </th>
                                    <!-- <th> phone </th> -->
                                    <th> Status </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user, index)=> { %>
                                    <!-- <% var userListed = user; %> -->
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td class="py-1">
                                            <%= user.username %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <!-- <td><% user.phone %></td> -->
                                        <% if(user.isListed) { %>
                                            <td class="text-success">Active</td>
                                        <% } else{ %>
                                            <td class="text-danger">blocked</td>
                                        <% } %>

                                        <td>
                                            <div class="d-flex gap-4 ">
                                                <div id="userdetail" data-test=<%= user %>></div>
                                                <!-- <% var userListed = user.isListed %> -->
                                                
                                                <% if(user.isListed) { %>
                                                    <a class="actions block-btn"  onclick='block("<%= user._id%>")' data-bs-toggle="modal" data-bs-target="#blockModal"><i class="bi bi-eye"></i></a>
                                                    <!-- <a class="actions d-none unblock-btn-on-block" id="" data-bs-toggle="modal" data-bs-target="#unBlockModal"><i class="bi bi-eye-slash"></i></a> -->
                                                <% } else{ %>
                                                    <a class="actions " onclick='unBlock("<%= user._id%>")' data-bs-toggle="modal" data-bs-target="#unBlockModal"><i class="bi bi-eye-slash"></i></a>
                                                    <!-- <a class="actions d-none" id="block-btn-on-unblock" onclick='block("<%= user._id%>")' data-bs-toggle="modal" data-bs-target="#blockModal"><i class="bi bi-eye"></i></a> -->
                                                <% } %>
                                                <a class="actions" onclick='deleteUser("<%= user._id%>")' data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <h1 class="text-center mt-5"> There is no data</h1>
                    <% } %>
                </div>
            </div>

                <div class="mb-4 mx-auto">
                    <a href="/admin/userManagement/<%= prevPage %>" class="text-light btn bg-secondary rounded border-0 px-3 py-1 <%= prevDisable %>"  >Prev</a>
                    <a href="/admin/userManagement/<%= nextPage %>" class="text-light btn rounded border-0 px-3 py-1 <%= nextDisable %>" style="background-color: #EF6627;">Next</a>
                </div>

        </div>
    </div>

    <!-- <div class="card d-inline-block px-5 position-fixed top-50 start-50 translate-middle"> -->
<!----------------------  delete modal  ----------------------->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body px-5">
                    <h1 class="fs-2 text-center mt-2 mb-4">Delete</h1>
                    <p class="fs-6 text-center mb-4">Are you sure?</p>
                    <div class="d-flex justify-content-center gap-3 mb-3">
                        <button class="border-0 rounded px-3 py-1 bg-black text-light"
                            data-bs-dismiss="modal">Cancel</button>
                        <button class="border-0 rounded px-3 py-1 text-light"
                            style="background-color: #EF6627;" onclick="confirmDelete()">Confirm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!----------------------  block modal  ----------------------->

    <div class="modal fade" id="blockModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body px-5">
                    <h1 class="fs-2 text-center mt-2 mb-4">Block</h1>
                    <p class="fs-6 text-center mb-4">Are you sure?</p>
                    <div class="d-flex justify-content-center gap-3 mb-3">
                        <button class="border-0 rounded px-3 py-1 bg-black text-light"
                            data-bs-dismiss="modal">Cancel</button>
                        <button class="border-0 rounded px-3 py-1 text-light"
                            style="background-color: #EF6627;" onclick="confirmBlock()" data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!----------------------  unblock modal  ----------------------->

    <div class="modal fade" id="unBlockModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body px-5">
                    <h1 class="fs-2 text-center mt-2 mb-4">Unblock</h1>
                    <p class="fs-6 text-center mb-4">Are you sure?</p>
                    <div class="d-flex justify-content-center gap-3 mb-3">
                        <button class="border-0 rounded px-3 py-1 bg-black text-light"
                            data-bs-dismiss="modal">Cancel</button>
                        <button class="border-0 rounded px-3 py-1 text-light"
                            style="background-color: #EF6627;" onclick="confirmUnBlock()">Confirm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    

    <script>

        const sidebar = document.querySelector('.sidebar');
            const toggleBtn = document.getElementById('menuToggle');

            toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle('show');
            });

        const statuses = document.querySelectorAll('.status')
              
        statuses.forEach(status => {
            status.addEventListener('click', () => {
                statuses.forEach(s => s.classList.remove('active'));
                status.classList.add('active');
            });
        });


        let blockId, unBlockId, deleteId

        function block(id){
            blockId = id
        }

        function unBlock(id){
            unBlockId = id
        }

        function deleteUser(id){
            deleteId = id
        }

        async function confirmBlock(){
            console.log("its hitting.........")
            const res = await fetch('/admin/blockUser', {
                method: "PATCH",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id: blockId })
            })
            .then(() => window.location.reload())

    
            // const block = document.querySelectorl("block-btn")
            // const unblock = document.querySelectorAll("unblock-btn") 
            // const unblockOnBlock = document.querySelector("unblock-btn-on-block") 

            // console.log("user has been blocked")
            // console.log(res.status)
            // const data = await res.json()



            // block.classList.add("d-none")
            // unblockOnBlock.classList.remove("d-none")
            // unblock.classList.remove("d-none")


        }

        async function confirmUnBlock(){
            console.log("un block confirm")
            const res = await fetch('/admin/unBlockUser', {
                method: "PATCH",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id: unBlockId })
            })
            .then(() => window.location.reload())
        }

        async function confirmDelete(){
            console.log("delte confirm")
            const res = await fetch('/admin/deleteUser', {
                method: "DELETE",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id: deleteId })
            })
            .then(() => window.location.reload())
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>