<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
        .test:hover {
            background-color: rgb(238, 238, 238);
        }

        .add-user-btn {
            background-color: #EF6627;
            /* border: none; */
        }

        .active::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: black;
            bottom: -7px;
        }

        .actions {
            color: #151414;
        }
    </style>
</head>

<body>

    <!-- <% var sample = 11111; %> -->

    <nav class="navbar bg-black">
        <div class="container">
            <a class="navbar-brand text-light" href="#">
                Logo
            </a>
        </div>
    </nav>


    <div class="d-flex gap-5 m-5">
        <div class=" d-inline-block border border-secondary text-secondary sidebar align-self-start py-3">
            <div class="">

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/dashboard.png" alt="" style="width: 25px;">
                    <a href="/admin/dashboard" class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Dashboard</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/products.png" alt="" style="width: 25px;">
                    <a href="/admin/product" class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Product</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/category.png" alt="" style="width: 25px;">
                    <a href="/admin/category" class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Category</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/order.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Order</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/coupon.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Coupon</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/transaction.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Transactions</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Offer</a>
                </div>
            </div>

            <div class="my-5">
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/admin.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Admins</a>
                </div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/user.png" alt="" style="width: 25px;">
                    <a href="/admin/userManagement" class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">customers</a>
                </div>
            </div>

            <div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/settings.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Settings</a>
                </div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/help.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Help</a>
                </div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/logout.png" alt="" style="width: 25px;">
                    <a class="fs-6 px-3 pb-3 ms-3 mb-0 text-secondary text-decoration-none">Logout</a>
                </div>
            </div>

        </div>
        <div class="card flex-fill position-relative">
            <div class="card-header">
                <h1 class="text-center">Category Management</h1>

                <div class="container">
                    <div class="row justify-content-between my-5">

                    <div class="col-3 d-flex justify-content-around border-bottom border-3 align-self-start pb-1 user-status">
                        <h1 class="fs-6 m-0 align-self-start position-relative flex-fill text-center status active">All
                        </h1>
                        <h1 class="fs-6 m-0 align-self-start position-relative flex-fill text-center status">Blocked
                        </h1>
                        <h1 class="fs-6 m-0 align-self-start position-relative flex-fill text-center status">Active</h1>
                    </div>

                    <form action="/admin/searchCategory" class="col-4 align-self-start d-flex gap-2" method="post">
                        <input class="form-control me-2 " name="name" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <div class="col-2 d-flex justify-content-end  align-self-start">
                        <a role="button" href="/admin/addCategory"
                            class="add-user-btn text-light border-0 rounded px-4 py-1 text-decoration-none">Add new</a>
                    </div>

                </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="">

                    <% if (categories) { %>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th> Name </th>
                                    <th> Added </th>
                                    <th> sold </th>
                                    <th> stock </th>
                                    <th> Status </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach((category, index) => { %>

                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td class="py-1">
                                            <%= category.name %>
                                        </td>
                                        <td>
                                            <%= category.createdAt.toISOString().split("T")[0] %>
                                        </td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            50
                                        </td>

                                        <% if(category.isListed) { %>
                                            <td class="text-success">Active</td>
                                        <% } else{ %>
                                            <td class="text-danger">blocked</td>
                                        <% } %>

                                        <td>
                                            <div class="d-flex gap-4 ">

                                                <a class="actions" href="/admin/editCategory/<%= category.name %>" onclick='editCategory("<%= category._id%>")' ><i class="bi bi-pencil"></i></a>
                                                <% if(category.isListed) { %>
                                                    <a class="actions block-btn"  onclick='block("<%= category._id%>")' data-bs-toggle="modal" data-bs-target="#blockModal"><i class="bi bi-eye"></i></a>
                                                <% } else{ %>
                                                    <a class="actions " onclick='unBlock("<%= category._id%>")' data-bs-toggle="modal" data-bs-target="#unBlockModal"><i class="bi bi-eye-slash"></i></a>
                                                <% } %>
                                                <a class="actions" onclick='deleteCategory("<%= category._id%>")' data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <h1 class="text-center mt-5"> There is no data</h1>
                    <% } %>
                </div>
            </div>

                <div class="mb-4 mx-auto">
                    <a href="/admin/category/prev?page=<%= prevPage %>" class="text-light btn bg-secondary rounded border-0 px-3 py-1 <%= prevDisable %>"  >Prev</a>
                    <a href="/admin/category/next?page=<%= nextPage %>" class="text-light btn rounded border-0 px-3 py-1 <%= nextDisable %>" style="background-color: #EF6627;">Next</a>
                </div>

        </div>
    </div>

<!----------------------  delete modal  ----------------------->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body px-5">
                    <h1 class="fs-2 text-center mt-2 mb-4">Delete</h1>
                    <p class="fs-6 text-center mb-4">Are you sure?</p>
                    <div class="d-flex justify-content-center gap-3 mb-3">
                        <button class="border-0 rounded px-3 py-1 bg-black text-light"
                            data-bs-dismiss="modal">Cancel</button>
                        <button class="border-0 rounded px-3 py-1 text-light"
                            style="background-color: #EF6627;" onclick="confirmDelete()">Confirm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!----------------------  block modal  ----------------------->

    <div class="modal fade" id="blockModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body px-5">
                    <h1 class="fs-2 text-center mt-2 mb-4">Block</h1>
                    <p class="fs-6 text-center mb-4">Are you sure?</p>
                    <div class="d-flex justify-content-center gap-3 mb-3">
                        <button class="border-0 rounded px-3 py-1 bg-black text-light"
                            data-bs-dismiss="modal">Cancel</button>
                        <button class="border-0 rounded px-3 py-1 text-light"
                            style="background-color: #EF6627;" onclick="confirmBlock()" data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!----------------------  unblock modal  ----------------------->

    <div class="modal fade" id="unBlockModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body px-5">
                    <h1 class="fs-2 text-center mt-2 mb-4">Unblock</h1>
                    <p class="fs-6 text-center mb-4">Are you sure?</p>
                    <div class="d-flex justify-content-center gap-3 mb-3">
                        <button class="border-0 rounded px-3 py-1 bg-black text-light"
                            data-bs-dismiss="modal">Cancel</button>
                        <button class="border-0 rounded px-3 py-1 text-light"
                            style="background-color: #EF6627;" onclick="confirmUnBlock()" data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        const statuses = document.querySelectorAll('.status')
              
        statuses.forEach(status => {
            status.addEventListener('click', () => {
                statuses.forEach(s => s.classList.remove('active'));
                status.classList.add('active');
            });
        });


        let editId, blockId, unBlockId, deleteId

        // function editCategory(id){
        //     window.location.href = `/admin/unBlock/${id}`
        // }

        function block(id){
            blockId = id
        }

        function unBlock(id){
            unBlockId = id
        }

        function deleteCategory(id){
            deleteId = id
        }

        async function confirmBlock(){
            const res = await fetch('/admin/blockCategory', {
                method: "PATCH",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id: blockId })
            })
            swal.fire({
                title: "successfully blocked the category",
                icon: "success",
                timer: 1500
            })
            .then(() => window.location.reload())
            
        }

        async function confirmUnBlock(){
            console.log("un block confirm")
            const res = await fetch('/admin/unBlockCategory', {
                method: "PATCH",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id: unBlockId })
            })
            swal.fire({
                title: "successfully unblocked the category",
                icon: "success",
                timer: 1500
            })
            .then(() => window.location.reload())
        }

        async function confirmDelete(){
            console.log("delte confirm")
            const res = await fetch('/admin/deleteCategory', {
                method: "DELETE",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id: deleteId })
            })
            swal.fire({
                title: "successfully deleted the category",
                icon: "success",
                timer: 1500
            })                
            .then(() => window.location.reload())
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>